<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Marks Predictor</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <div class="header">
            <h1>Student Marks Predictor</h1>
        </div>
    </header>
    <div class="body-content">
        <p>Predict your student's potential marks using features like:</p>
        <ul>
            <li>Gender</li>
            <li>Race/Ethnicity</li>
            <li>Parental Level of Education</li>
            <li>Lunch</li>
            <li>Test Preparation Course</li>
            <li>Reading Score</li>
            <li>Writing Score</li>
        </ul>
        <a href="/predictdata" class="try-button">Try it yourself!</a>
    </div>
</body>
</html>
